<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunfeng.tools.phoneproxy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.yunfeng.tools.phoneproxy.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <activity
            android:name="com.yunfeng.tools.phoneproxy.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|locale|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="phoneproxy.tools.yunfeng.com"
                    android:pathPattern="/pp"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>